nav {
    background-color: #B7410E;
    border-bottom: 1px solid #444444;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

nav a {
    text-decoration: none;
    color: white;
}

nav button i {
    color: white;
    font-size: 1.2rem
}

.user-username {
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: bold;
}

.navbar .btn-outline-light i.bi {
    color: inherit !important; 
}